{{{template.web.widget.login}}}
      <hr>

      <div class="footer">
      	<div class="container">
	        <p>&copy; Company 2013</p>
      	</div>
      </div>	
	{{{backbone}}}
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-187077-3']);
  _gaq.push(['_setDomainName', 'ideabile.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>