	
	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/tb_0.2/"><img src="/statics/images/logo-top-white.png" width="128px" alt="LinkSharing" /></a>
        </div>
          <div class="nav-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/tb_0.2/">Get Started</a></li>
              <li><a href="/tb_0.2/doc/?file=index.php">Docs</a></li>
              <li><a href="/tb_0.2/?m=manual">Manual</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
			{{#Login}}
				{{#is_user}}
	              <li><a href="/tb_0.2/?m=users">Users</a></li>
				{{/is_user}}
				{{#not_user}}
	              <li><a href="#" class="e-login-modal">Login</a></li>
				{{/not_user}}
			{{/Login}}
            </ul>
          </div><!--/.nav-collapse -->
      </div>
    </div>