	
	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/tirebouchon/"><img src="/tirebouchon/img/logo-top-white.png" width="128px" alt="LinkSharing" /></a>
        </div>
          <div class="nav-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/tirebouchon/">Get Started</a></li>
              <li><a href="/tirebouchon/doc/?file=index.php">Docs</a></li>
              <li><a href="/tirebouchon/?m=manual">Manual</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
          </div><!--/.nav-collapse -->
      </div>
    </div>