{{{template.web.widget.header head.title="Tire-Bouchon" }}}
{{{!requirejs widgets.fullheight.enable="1"}}}
		<style>
		
			.jumbotron .container{
				display: table;
			}
			.jumbotron .row{
				display:table-cell;
				vertical-align:middle;
			}
		</style>
		<div class="section jumbotron jumbotron-ad text-center yellow" id="section-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 pagination-centered">
						<img src="img/logo.png" />
						<h1>Easy <i>"framework"</i> for Bottleneck Web App Strategies.</h1>
						<br/>
						<div><iframe src="http://ghbtns.com/github-btn.html?user=M3kH&repo=tire-bouchon&type=watch&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe></div>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="section jumbotron jumbotron-ad red">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
					</div>
					<div class="col-md-6">
						I would say is a solution for a <a href="http://en.wikipedia.org/wiki/Bottleneck">Bottleneck</a>.
					</div>
				</div>
			</div>
		</div> -->

		<div class="section jumbotron jumbotron-ad red" id="section-2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<h2>Made for Scalability.</h2>
						<i class="fa fa-adjust fa-5x"></i>
					</div>
					<div class="col-md-6 text-justify">
						The core of Tire-Bouchon is thinked to splited in two enviroment.<br/>
						<i>Back-End</i>, would just think how get, update, return the data.<br/>
						<i>Front-End</i>, Make your Html mokup, and all the staff you already know. And use the template language for display the data.<br/>
					</div>
				</div>
			</div>
		</div>

		<div class="section jumbotron jumbotron-ad yellow" id="section-3">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-justify">
						Data Avaible in API and in the Template engine, with just one source.<br/>
						Thanks to Ephypany.
					</div>
					<div class="col-md-6 text-center">
						<h2>Simple API system</h2>
						<i class="fa fa-cloud fa-5x"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="section jumbotron jumbotron-ad red" id="section-4">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<h2>Cleaned Html Templates</h2>
						<i class="fa fa-code fa-5x"></i>
					</div>
					<div class="col-md-6 text-justify">
						I hate mix PHP->Html or Html -> PHP, Html should just HTML
						Thanks to LightNCandy.
					</div>
				</div>
			</div>
		</div>
		
		<div class="section jumbotron jumbotron-ad yellow" id="section-5">
			<div class="container">
				<div class="row">
					<div class="col-md-6" text-justify>
						Less template enviroment, for really UX Design experience.
					</div>
					<div class="col-md-6 text-center">
						<h2>Bootstrap installed</h2>
						<i class="fa fa-twitter fa-5x"></i>
					</div>
				</div>
			</div>
		</div>
		
		<div class="section jumbotron jumbotron-ad red" id="section-6">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<h2>JS AMD Logics and Template JS dependency loader</h2>
						<i class="fa fa-retweet fa-5x"></i>
					</div>
					<div class="col-md-6 text-justify">
						Don't limit you'r self to use a JS Framework, now you have the power to run all JS as you want with a bit of work,
						and call them frome where you want.
					</div>
				</div>
			</div>
		</div>
		
		<div class="section jumbotron jumbotron-ad yellow" id="section-7">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-justify">
						The message from the server use the <pre>_("Unix Style")</pre> and then your template are language based, for really full translation experience .en_en.html
					</div>
					<div class="col-md-6 text-center">
						<h2>Internationalization Logic</h2>
						<i class="fa fa-flag fa-5x"></i>
					</div>
				</div>
			</div>
		</div>
		
		<div class="section jumbotron jumbotron-ad red" id="section-8">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<h2>Choose your favorite Database, and use just one or More!</h2>
						<i class="fa fa-table fa-5x"></i>
					</div>
					<div class="col-md-6 text-justify">
						The default PDO system of PHP is the query, forgot what is you DB just write down your query!
					</div>
				</div>
			</div>
		</div>
		
		<div class="section jumbotron jumbotron-ad yellow" id="section-9">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-justify">
						Send good alerts to you team when the system or query fails, use just simple the template
						Thanks to Mail Boilerplate.
					</div>
					<div class="col-md-6 text-center">
						<h2>In-App html email templating system.</h2>
						<i class="fa fa-eye fa-5x"></i>
					</div>
				</div>
			</div>
		</div>
		
		<div class="section jumbotron jumbotron-ad red" id="section-10">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<h2>In-Code Documentation</h2>
						<i class="fa fa-book fa-5x"></i>
					</div>
					<div class="col-md-6 text-justify">
						Thanks to codemirror.
					</div>
				</div>
			</div>
		</div>
		
		<div class="section jumbotron jumbotron-ad yellow" id="section-11">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-justify">This is the result of five years working with PHP and JS and read many many books about both.
					This could be an alternative way to develope Web App with a style more pragmatical and close to the businness view.
					
					<b>Why you should get a try?</b><br/>
					<ul>
						<li>
							If you are a bussiness entities<br/>
							A lot of companies is moving to use JavaScript on server side, for have one language platform and make cheaper Application.
							But still PHP is one of the most diffused language for web app, so is easy to find programmer can work with it.
							Then you have a complete splitted enviroment, and you can focus your energy just in do things Back-End would care how data would Get and Set.
							Front-End how the applicazion should look and interact.
						</li>
						<li>
							You are a freelance and you build a lot of website?<br/>
							This is the easy way to add a bit of magic to your website and make-it as a stamp for the begining of all your project.
						</li>
						<li>
							If you are a University entities<br/>
							In my study expirience at university, I miss a common project for all the students. Image a common project ( like a social network ), 
							a unified git enviroment and a unified Database Scheme, with a replica in each student instance.
							
							A subdomain git branch installation routing
	<pre> 
-- app.test -- Production enviroment
-- dev.app.test -- Show the branch for the last development merging
-- test.app.test -- Show the dev branch under Unit Testing
-- optimized.app.test -- Optimized enviroment
-- statics.app.test -- The statics l

---

Then the students branch
-- student-00001.app.test -- Show the dev branch under Unit Testing
-- student-00002.app.test -- Show the dev branch under Unit Testing
...
</pre>
							
							where students can download their database demo and play and hack with him.
							Later choose the students hacks and give them the permission to push the code.
							With the Documentation in code everione is forced to lear how works everything. So all lear how to make another framework like this.
							
							Finally the students they would lear:
								<ul>
									<li>Be close to the business needs</li>
									<li>Big enviroment logics for PHP</li>
									<li>Big enviroment logics for JS</li>
									<li>Big enviroment logics for CSS/Less</li>
									<li>Make real things</li>
									<li>Make real working things things</li>
								</ul>
						</li>
					</ul>
				
				
						I like to have the controll of the both side PHP and JS, but even have good and clean html and css/less enviroments.
						I try to do use some cool MVC framework like Simphony or CakePHP. But that was simply to much for build simpled and custom app,
						and most of everything I hate loose the controll of the query, there is the best part for optimize you website or webapp for running fast.
						I don't fit well in the MVC style, I take the concept of Module, wich I rappresent in libs/ and in the template requirement in /modules (this i for define a block).
						And I change the View as a general concept wich could be the Controll for example. ( web view, mobile view, admin view, controll pannel view, api ).
						And then I have the templates.
						
					
				</div>
				<div class="col-md-6 text-center">
					<h2>"This is not the Byble! But is a Dream."</h2>
					<i class="fa fa-bullhorn fa-5x"></i>
				</div>
			</div>
		</div>
		</div>
		
		<div class="section jumbotron jumbotron-ad red" id="section-12">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<h2>And for the feature?</h2>
						<i class="fa fa-clock-o fa-5x"></i>
					</div>
					<div class="col-md-6 text-justify">
						<ul>
							<li>Continuos Integration Enviroment with front-end optimization</li>
							<li>Javascript Isomorphic, not really but read more here what it is http://nerds.airbnb.com/isomorphic-javascript-future-web-apps/ but 
								I would like to have syncronized client enviroment with this.</li>
							<li>Vagrant Virtual Box - In my vision this could be a good project for university, easy to understand, run and hack, for small and big project.<br/>
								Or better Distribuited Virtual Enviroment http://ariya.ofilabs.com/2013/11/using-packer-to-create-vagrant-boxes.html
							</li>
							<li>Better Internationalization system like</li>
							<li>Unit Testing PHP and JS</li>
							<li>Performance Testing</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
{{{template.web.widget.footer}}}